{
    "trailingComma": "all",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "singleQuote": true,
                "trailingCommaPHP": true
            }
        }
    ]
}
